In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train = pd.read_csv('/kaggle/input/titanic/train.csv', index_col='PassengerId') #read data from train.csv
test = pd.read_csv('/kaggle/input/titanic/test.csv', index_col='PassengerId') #read data from test.csv

In [3]:
head = train[:100]
head #the first 100 rows in train data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [4]:
middle_first_class_age,middle_first_class_fare = train.loc[train['Pclass']==1].Age.mean(), train.loc[train['Pclass']==1].Fare.mean()
middle_second_class_age,middle_second_class_fare = train.loc[train['Pclass']==2].Age.mean(), train.loc[train['Pclass']==2].Fare.mean()
middle_third_class_age,middle_third_class_fare = train.loc[train['Pclass']==3].Age.mean(), train.loc[train['Pclass']==3].Fare.mean()

In [5]:
train['Age'] = np.where(((train.Pclass == 1) & (pd.isna(train['Age']))), middle_first_class_age, train.Age)
train['Age'] = np.where(((train.Pclass == 2) & (pd.isna(train['Age']))), middle_second_class_age, train.Age)
train['Age'] = np.where(((train.Pclass == 3) &( pd.isna(train['Age']))), middle_third_class_age, train.Age)

test['Age'] = np.where(((test.Pclass == 1) & (pd.isna(test['Age']))), middle_first_class_age, test.Age)
test['Age'] = np.where(((test.Pclass == 2) & (pd.isna(test['Age']))), middle_second_class_age, test.Age)
test['Age'] = np.where(((test.Pclass == 3) &( pd.isna(test['Age']))), middle_third_class_age, test.Age)
test['Fare'] = test['Fare'].fillna(value=test['Fare'].mean())

In [6]:
from sklearn.neighbors import KNeighborsClassifier

features = train[['Age', 'Fare']].copy()
features_test = test[['Age', 'Fare']].copy()
answers = train["Survived"]

model = KNeighborsClassifier(n_neighbors=9)
model.fit(features, answers)

test_predictions = model.predict(features_test)

output = pd.DataFrame({'PassengerId': test.index,
                      'Survived': test_predictions})
output.to_csv('submission.csv', index=False)